* {
  background-color: #fff;
  color: #000;
  user-select: none;
}

#heading {
  display: inline;
  text-align: center;
}
#close {
  float: right;
  background-color: red;
  outline: none;
  border: 0;
  font-size: 20px;
  width: 30px;
  height: 25px;
}

#canvasOutput,
video {
  display: none;
}
